# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
/secrets.yaml
.DS_Store
output/
__pycache__/
*.pyc
tmp/
.tmp/
.cache/
.venv/
# Lokale referentiedocumenten die bewust niet in GitHub horen
docs/_local_reference/
